BasedOnStyle: Google
Standard: c++17
SortIncludes: Never
NamespaceIndentation: All
IndentWidth: 4
SortUsingDeclarations: false
SpacesBeforeTrailingComments: 2
IncludeBlocks: Preserve
AccessModifierOffset: -4
ReflowComments: true
ColumnLimit: 128
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: False
PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 20
PenaltyExcessCharacter: 100
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: true
AllowShortLambdasOnASingleLine: Empty