[submodule "Engine/External/FastGLTF"]
	path = Engine/External/FastGLTF
	url = https://github.com/spnda/fastgltf
[submodule "Engine/External/SimdJSON"]
	path = Engine/External/SimdJSON
	url = https://github.com/simdjson/simdjson
[submodule "Engine/External/VKB"]
	path = Engine/External/VKB
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "Engine/External/ENTT"]
	path = Engine/External/ENTT
	url = https://github.com/skypjack/entt
[submodule "Engine/External/ImGUI"]
	path = Engine/External/ImGUI
	url = https://github.com/ocornut/imgui
[submodule "Engine/External/Cereal"]
	path = Engine/External/Cereal
	url = https://github.com/USCiLab/cereal
